@media (max-width: 990px) {
	
	.Row {
		width: 96%;
	}
	
}


@media (max-width: 640px) {
	#Panel, #Body .ContentColumn {
		float: none;
		width: 100%;
	}

	.PanelColumn {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	
}

@media (max-width: 430px) {
	.PanelColumn {
		-webkit-column-count: auto;
		-moz-column-count: auto;
		column-count: auto;		
	}

	.PanelColumn .Box ul li {
		display: inline;
		margin-right: 5%;
	}

	div[class^="Column"] {
		float: none;
		width: 100%;
	}

}
